body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding-bottom: 10px;
}

.flex-container-services {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding-bottom: 30px;
}

.flex-item {
  padding: 5px;
}
.flex-item-offer {
  padding-left: 20px;
  padding-right: 20px;
}
.flex-item-project {
  padding-left: 20px;
  padding-right: 20px;
}

.tooltip {
  position: center;
  font-size: 15px;
  color: white;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:after {
  content: attr(data-tooltip);
  font-size: 15px;
  top: 100px;
  left: 110px;
  border-radius: 5px;
  background: #3f3f70;
  padding: 5px;
  letter-spacing: 1px;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

.card {
  max-width: 345px;
  margin: 10px;
}

/* .icon {
  cursor: pointer;  
  width: "100%";
  max-width: 6vh;
  height: "auto";
  transition: all 0.2s ease-in-out;
}
.icon:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}
.icon-git {
  cursor: pointer;
  width: "100%";
  max-width: 6vh;
  height: "auto";
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.icon-git:hover {
  transform: scale(1.1);
} */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
