body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.flex-item {
  padding: 5px;
}
.flex-item-offer {
  padding-left: 20px;
  padding-right: 20px;
}
.flex-item-project {
  padding-left: 20px;
  padding-right: 20px;
}

.tooltip {
  position: center;
  font-size: 15px;
  color: white;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:after {
  content: attr(data-tooltip);
  font-size: 15px;
  top: 100px;
  left: 110px;
  border-radius: 5px;
  background: #3f3f70;
  padding: 5px;
  letter-spacing: 1px;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}
